
.login{ width: 250px; height: 200px; border: 1px solid #000; border-radius: 5px; margin: 0 auto; padding: 10px;}
.login input{ width: 240px; height: 30px; border: 1px solid #FFF; margin: 10px auto; padding: 4px;}

.login input[type="button"]{ width: 245px; height: 30px; border: 1px solid #000; margin: 2px; padding: 4px; background: #555; color: #FFF; border-radius: 5px;}


